* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  background-color: #08bdbd;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 25px 15px;
}

.subtitle {
  margin-bottom: 10px;
  font-size: 18px;
  color: brown;
}

.socials-title {
  margin-bottom: 10px;
}

.socials {
  display: flex;
}

.socials li {
  margin-right: 10px;
}

.card {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 30px;
}

h1 {
  color: gray;
  margin: 20px 0;
  font-size: 28px;
}

.img {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
}

.info {
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
}

.menu {
  display: flex;
}

.menu li {
  margin-right: 15px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo img {
  width: 100%;
  height: 100%;
}
